/**BODY**/
body.landing{
    background: url("../images/background.jpg");
    background-size: 100%;
    background-origin: content;
    background-repeat: no-repeat;
	overflow: hidden;
}

#page-wrapper, #page, #main-wrapper{
    background: transparent !important;
}


.landing.pagewrap{
    margin-bottom: 0px !important;
}

#container{
    margin-left: 10%;
    margin-right: 5%;
}

/*TITLE*/
#serverTitle{
    font-family: 'Permanent Marker';
    font-size: 48px;
    color: #8b2a25;
    margin-top: 5%;
	margin-bottom: 5%;
    text-align: center;
}


/**PLAYER INFO**/

#steamuser,#serverInfo, .serverTitle{
    /*border: black solid 1px;*/
}

.serverTitle{
	font-size: 25px;
	text-align: center;
    font-family: 'Bungee';
    background-color: #1F2F41 ;
    padding-bottom: 5%;

    color: white;
    margin: 0;
}

#avatar{
	float: left;
    border-radius: 50%;
    border: dashed #2C5858 1px;
}

#steamuser{
    /*  background-color: #2c2c2c;*/
   /* height: 150px;*/
    display: inline-block;
    vertical-align:top;
    width: 35%;
}

#player{
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

#username{
    font-family: 'Teko';
    font-size:36px;
    font-weight: bold;
    padding: 10px;
    color: white;
}


/*SERVER INFO*/
#serverInfo{
    font-family: 'Teko';
    font-size: 48px;
    font-weight: 300;
    height: auto;
    display: inline-block;
    width: 45%;
    margin-right: 130px;
}

#map{
    margin: 10px;
}

.background {
    background-color: #2c2c2c;
    opacity: 0.9;
    height: 100%;
}
#serverInfo ul{
    list-style: none;
    padding: 0;
    margin: 0 0 20px 20px;
    font-size: 100%;
}

#serverInfo li{
    height: 50px;
    color: white;
}

span.info {
    display: inline-block;
    width: 30%;
    text-align: right;
    margin-right: 20px;
}

span.textinfo{
    color: grey;
}

.shadow{
    -webkit-box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.75);

}
    /**Footer**/
.serverFooter{
    text-align: center;
    font-family: 'Teko';
    font-size: 24px;
    margin-top: 10%;
    color: white;
}

/*REMOVE THIS*/
#footer-wrapper, #header, .menu-wrap, #breadcrumb {
    display: none !important;
}


@media (max-width:1024px ){
    span.info {
        display: inline-block;
        width: 45%;
        text-align: right;
        margin-right: 20px;
    }
    #serverInfo ul{
        list-style: none;
        padding: 0;
        margin: 0 0 20px 20px;
        font-size: 60%;
    }

    .serverFooter{
        text-align: center;
        font-family: 'Teko';
        font-size: 24px;
        margin-top: 5%;
        color: white;
    }
}